body {
    padding: 0 2%;
}

ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 0.25em;
    margin: 0 auto;
}

@media only screen and (max-width: 600px) {
    ul {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
        grid-gap: 0.25em;
        margin: 0 auto;
    }
}

img {
    display: block;
    max-width: 100%;
}

figure {
    height: 150px;
    overflow: hidden;
}