{% from 'macros.html' import gallery_item %}

<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Galerie</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="section">
        <nav>
            <ul>
                <li><a href="/" class="active">Général</a></li>
                <li><a href="/cards">Cartes de voeux</a></li>
            </ul>
        </nav>
        <div class="grid">
            {% for image, class in images_list|zip(classes) %}
                {{ gallery_item(
                    url_for('full.static', filename=image), 
                    url_for('thumb.static', filename=image),
                    class
                )}} 
            {% endfor %}
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js">
    </script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        // var socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.on('response', function(msg) {
            console.log('greger')
        });
    </script>
</body>

</html>